/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
*/

.welcomeSection {
  height: 831px;
  width: 100%;
  padding: 0 var(--general-horizontal-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(
    120deg,
    rgba(53, 118, 106, 1) 40%,
    rgba(37, 42, 52, 0.7) 40%
  );
  text-align: center;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 292px;
}
.text h2 {
  font-size: 72px;
  font-weight: bold;
  max-width: 765px;
  font-family: var(--play-fair-font);
}
.text h3 {
  font-weight: normal;
  font-size: 20px;
  max-width: 765px;
}
.text h5 {
  font-weight: lighter;
  font-size: 18px;
  max-width: 765px;
}

.buttons {
  width: 393px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.our-causes-section {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  &-card {
    width: 100%;
    // height: 592px;
    position: relative;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    transition: 0.2s;

    .image-container {
      position: relative;
      width: 100%;
      height: 250px;
    }
    .lower-container {
      padding: 24px 20px;
      h5 {
        font-weight: 400;
        font-size: 16px;
        color: var(--green);
        margin-bottom: 16px;
      }
      h4 {
        font-family: var(--play-fair-font);
        font-size: 20px;
        font-weight: 600;
        // margin-bottom: 16px;
        height: 56px;
        max-height: 56px;
      }
      p {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 16px;
        height: 105px;
      }
    }
    &:hover {
      transform: scale(1.025);
      transition: 0.2s;
    }
  }
}

.our-activities-section {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  &-card {
    width: 100%;
    position: relative;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    .image-container {
      position: relative;
      width: 100%;
      height: 250px;
    }
    .lower-container {
      padding: 24px 20px;
      .date-container {
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
        p {
          color: #999999;
          font-size: 14px;
        }
        img {
          margin-inline-end: 8px;
        }
      }

      h4 {
        font-family: var(--play-fair-font);
        font-size: 20px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 1.2rem;

      }
      .content {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 1.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &:hover {
      transform: scale(1.025);
      transition: 0.2s;
    }
  }
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* iPad Styles */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .welcomeSection {
    height: auto;
    padding: 40px;
    padding-top: 8rem;
  }

  .text h2 {
    font-size: 48px;
  }

  .text h3 {
    font-size: 18px;
  }

  .text h5 {
    font-size: 16px;
  }

  .buttons {
    margin-top: 30px;
  }

  .our-causes-section {
    gap: 0.75rem;
  }

  .our-causes-section .lower-container h4 {
    font-size: 18px;
    max-height: 40px;
  }

  .our-causes-section .lower-container p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .welcomeSection {
    height: 536px;
    padding: 20px;
  }

  .text {
    height: 200px;
  }
  .text h2 {
    font-size: 36px;
  }

  .text h3 {
    font-size: 16px;
  }

  .text h5 {
    font-size: 14px;
  }

  .buttons {
    width: 100%;
    height: 116px;
    flex-direction: column;
    margin-top: 20px;
  }

  .our-causes-section {
    gap: 0.7rem;
  }

  .our-causes-section .lower-container h4 {
    font-size: 18px;
    max-height: 40px;
  }

  .our-causes-section .lower-container p {
    font-size: 12px;
    height: 70px;
  }
}

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}
 */
/* Tablet and Smaller Desktop
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
